<h1>Listing albums</h1>

<% @albums.each do |album| %>
  <div>
    <%= album.title %><br />
    
    <% if album.photos.size>0 %>
      <%= link_to image_tag(album.photos.first.path), album %>
    <% else %>
      <%= link_to "See current state of Album", album %>
    <% end %>

    <div>
      <%= link_to 'Edit', edit_album_path(album) %>
      <%= link_to 'Destroy', album, confirm: 'Are you sure?', method: :delete %>
    </div>
  </div>
<br />
<% end %>

