<p id="notice"><%= notice %></p>

<div>
  <h1>
   <%= @album.title %> in <%= @album.directory %>
  </h1>
  <%= render @album.photos %>
</div>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
